{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [">0.25%", "not ie 11", "not op_mini all"]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "lodash",
    "transform-object-rest-spread",
    "transform-runtime",
    "transform-class-properties",
    "syntax-dynamic-import"
  ]
}
